
form.login {
	border: 1px solid lightgrey;
	border-radius: 5px;
	background-color: #3f84b5;
	color: white;
	width: 400px;
	height: 200px;
	margin: 0 auto;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 70px;
	padding-bottom: 50px;
	box-shadow: 5px 0 15px 0 grey;
	
}

form.login input {
	padding: 10px;
	width: 95%;
}

form.login input[type="submit"] {
	border: 1px solid lightgrey;
	width: 100%;	
	border-radius: 2px;
	background-color: steelblue;
	color: white;
	cursor: pointer;
	transition: 0.125s linear;
	text-transform: uppercase;
	
}

form.login input[type="submit"]:hover {
	box-shadow: 5px 0 15px 0 white;	
	transform: scale(1.01);
}

form input[value="Logout"] {
	border: none;
	color: white;
	background-color: transparent;
	cursor: pointer;
}

.login-error {
	color: white;
	text-align: center;
	border: 1px solid lightgrey;
	border-radius: 5px;
	background-color: deeppink;
	padding: 10px;
	width: 35%;
	margin: 0 auto;	
}

.logout-successful {	
	color: white;
	text-align: center;
	border: 1px solid lightgrey;
	border-radius: 5px;
	background-color: olive;
	padding: 10px;
	width: 35%;
	margin: 0 auto;
}

/*  end login style  */

/* start logout button style */

form button#logout {
	border: none;
	color: white;
	background-color: transparent;
	cursor: pointer;
}

/*  select */

select {
	width: 280px;
	padding: 10px;
	background-color: white;
	color: steelblue;
	border: 1px dashed steelblue;
	border-radius: 2px;
	font-size: 20px;
	text-align: right;
}

.message {
	text-align: center;
	background-color: white;
	color: steelblue;
	border: 1px solid steelblue;
	padding: 5px;	
	font-size: 15pt;
}
/*  my style */
.mdl-layout__header {
	background-color: #3f7fb5;
}

.mdl-color--indigo{
	background-color:#3f7fb5 !important
}

.mdl-mini-footer {
	padding: 16px 16px;
}

a {
	color: #ff4040;
	font-weight: 500;
}

.my-left {
	float: left;
}

.message-left {
	text-align: left;
	background-color: white;
	color: black;
	border: none;
	padding: 5px;
	font-size: 14px;
	margin-bottom: 1pt;
}

