<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Home</title>
	
    <link rel="stylesheet" th:href="@{/bower_components/material-design-lite/material.min.css}" ></link>
    <script th:src="@{/bower_components/material-design-lite/material.min.js}" ></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" ></link>
	<link th:href="@{/bower_components/favicon_v.ico}" rel="alternate icon" type="image/vnd.microsoft.icon"/>

</head>
<body>

	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header ">

		<!-- load footer from layout.html, see th:fragment="header" ==> "layout :: header" -->
		<div th:replace="layout :: header"></div>
		<!-- load footer from layout.html, see th:fragment="drawer" ==> "layout :: drawer" -->
		<div th:replace="layout :: drawer"></div>

		<main class="mdl-layout__content">
		<div class="page-content">
		
			<h2 class="message" th:text="${message}"></h2>
			
			<div class="mdl-grid" >
				<div class="mdl-cell mdl-cell--12-col">
				
					<!-- content -->
					<!-- Section empty for example -->
					<!-- content -->
									
				</div> <!-- cell -->				
			</div> <!-- grid -->		
			
			
		</div>
		</main>

		<!-- load footer from layout.html, see th:fragment="footer" ==> "layout :: footer" -->
		<div th:replace="layout :: footer"></div>
		
	</div>

</body>
</html>